// philips

 #philips {
   min-height: 600px;
   background-image: url(/img/philips.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 100px;

   .client-text {
     color: $colorWhite;
     text-align: right;
     position: relative;
     margin: 50px 70px 0px auto;
     max-width: 500px;
     svg path {
       fill: $colorWhite;
     }
   }
   @media screen and (max-width:$screen-md) {
     .client-text {
       margin: 0;
     }
   }
 }

 // bijenkorf

 #bijenkorf {
   min-height: 600px;
   background-image: url(/img/bijenkorf.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 100px;

   .client-background {
     content: '\A';
     position: absolute;
     width: 100%;
     margin-top: -100px;
     height: 600px;
     background: rgba(0, 0, 0, 0.7);
   }
   .client-text {
     color: $colorWhite;
     text-align: left;
     position: relative;
     margin: 50px 70px auto;
     max-width: 500px;
     svg path {
       fill: $colorWhite;
     }
   }
   @media screen and (max-width:$screen-md) {
     .client-text {
       margin: 20px;
     }
   }
 }

 // general styling

 .client-review {

  .client-text,
  .client-background {
    position: absolute;
    left: 0;
    width: 100%;
  }

  .subtext {
    padding: 0px 0 15px 0;
  }

  .btn-client {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }

   @media screen and (max-width:$screen-md) {
     .client-text,
     .client-background {
       width: 85%;
     }
   }


}
