@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(no-anim) {

}

@mixin animation($stuff ) {
  -webkit-animation: $stuff;
  -moz-animation: $stuff;
  -ms-animation: $stuff;
  animation: $stuff;
}

/* ----------------------------------------------------------------------- */

@include keyframes(tag-bounce) {
  0% {
    @include transform(scale(0.0));
  }
  100% {
    @include transform(scale(1.0));
  }
}

@include keyframes(scale-up) {
  0% {
    @include transform(scale(1.0));
  }
  100% {
    @include transform(scale(1.1));
  }
}

@include keyframes(slide-right) {
  0% {
    @include transform(translate(0.0px, 0.0px));
  }
  50% {
    @include transform(translate(100.0px, 0.0px));
  }
  100% {
    @include transform(translate(50.0px, 50.0px));
  }
}

@include keyframes(slide-right) {
  0% {
    @include transform(translate(0.0px, 0.0px));
  }
  50% {
    @include transform(translate(200.0px, 0.0px));
  }
  100% {
    @include transform(translate(150.0px, 150.0px));
  }
}

@include keyframes(spinny) {
  0% {

  }
  50% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}

@include keyframes(bounce-slow) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  80% {
    @include transform(translateY(-30px));
  }
}





