.nav {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: inherit;
  @media (min-width: 1100px) {
    bottom: 0;
  }
}

.usa-navbar {
  background: $usaNavbarColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 70px;
}

.nav-content {
  padding: 15px 15px;
}








